@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  width: max-content;
  height: max-content;
  overflow: hidden;
}

#root {
  padding: 0;
  text-align: start;
  box-sizing: border-box;
}
