@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  text-align: start;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}


.auth__container{
  background-image: url('./assets/MoviePopcorn.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
